root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true

[*.dart]
indent_style = space
indent_size = 2
max_line_length = 80

[*.yaml]
indent_style = space
indent_size = 2

# IDE0008: 明示的な型の使用
csharp_style_var_when_type_is_apparent = true

# IDE0008: 明示的な型の使用
csharp_style_var_for_built_in_types = true

# IDE0290: プライマリ コンストラクターの使用
dotnet_diagnostic.IDE0290.severity = none

# IDE0028: コレクションの初期化を簡略化します
dotnet_diagnostic.IDE0028.severity = none
